
[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-soc_google:before {
	content: "\e600";
}
.icon-soc_odn:before {
	content: "\e601";
}
.icon-soc_smile:before {
	content: "\e602";
}
.icon-soc_tw:before {
	content: "\e603";
}
.icon-soc_vk:before {
	content: "\e604";
}
.icon-slide_trees:before {
	content: "\e605";
}
.icon-slide_brick:before {
	content: "\e606";
}
.icon-slide_water:before {
	content: "\e607";
}
.icon-slide_house:before {
	content: "\e608";
}
.icon-slide_fence:before {
	content: "\e609";
}
.icon-soc_fb:before {
	content: "\e60a";
}
