
@font-face {
  font-family: 'a_PlakatTitul-ExtraBold';
  src: url('a_PlakatTitul-ExtraBold.eot?#iefix') format('embedded-opentype'),  url('a_PlakatTitul-ExtraBold.woff') format('woff'), url('a_PlakatTitul-ExtraBold.ttf')  format('truetype'), url('a_PlakatTitul-ExtraBold.svg#a_PlakatTitul-ExtraBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
